@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    font-family: "Red Hat Display", sans-serif;
}

.attribution {
    font-family: "Red Hat Display", sans-serif;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--pale-blue);
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;    
    min-height: 100vh;
}

button {
    font-family: "Red Hat Display", sans-serif;
    cursor: pointer;
}

.card {
    background-color: white;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.card_content {
    display: flex;
    flex-direction: column;
    padding: 32px;
    text-align: center;    
    gap: 32px;
}

.card img {
    border-radius: 16px 16px 0px 0px;
    width: 100%;
}

.card_content p {
    line-height: 160%;
}

.card_content .primary {
    border: none;
    border-radius: 16px;
    background-color: var(--bright-blue);
    color: white;
    font-size: 14px;
    font-weight: 900;
    height: 50px;
    box-shadow: 0px 8px 16px hsla(245, 75%, 52%, 0.25);
    transition: 0.3s;
}

.card_content .primary:hover {
    background-color: hsl(230, 50%, 55%);
    transition: 0.3s;
}

.card_content .secondary {
    border: none;
    background-color: transparent;
    color: var(--desaturated-blue);
    font-size: 14px;
    font-weight: 900;
    height: 50px;
}

.card_content .secondary:hover {
    color: hsl(0, 0%, 15%);
    transition: 0.3s;
}

.card_plan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background-color: var(--very-pale-blue);
    border-radius: 16px;
}

.card_plan a {
    font-size: 14px;
    font-weight: 700;
    color: var(--bright-blue);
    transition: 0.3s;
}

.card_plan a:hover {
    text-decoration: none;
    color: hsl(230, 50%, 55%);
    transition: 0.3s;
}

.card_plan_type {
    display: flex;
    text-align: left;
    gap: 16px
}

.card_plan_type img {
    height: 48px;
    width: 48px;
}

.card_plan_type_option {
    display: flex;
    flex-direction: column;
}

.card_cta {
    display: flex;
    flex-direction: column;
}

footer {
    padding-bottom: 24px;
}

h1 {
    color: var(--dark-blue);
    margin-bottom: 24px;
    font-size: 29px;
    font-family: "Red Hat Display", sans-serif;
}

h3 {
    color: var(--dark-blue);
    font-size: 17px;
    font-family: "Red Hat Display", sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    width: auto;
    min-height: 100%;
}

p {
    color: var(--desaturated-blue);
    font-size: 16px;
    font-family: "Red Hat Display", sans-serif;
}

@media (max-width:400px) {
    
    .card_content {
        padding: 16px;
    }

    .card_info {
        padding: 0px 16px;
    }

    h1 {
        margin-top: 16px;
    }
}